
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 375px;
    height: 3200px;
    background-color: hsl(180, 52%, 96%);
}

header {
    width: 375px;
    height: 150px;
    background-color: hsl(180, 29%, 50%);
}

h4 {
    margin-top: 10px;
    margin-left: 16px;
}

hr {
    width: 275px;
    margin-left: 16px;
    margin-top: 15px;
}

.header-image {
    width: 100%;
}

.box {
    width: 330px;
    height: 265px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    border-radius: 4px;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

.green__box {
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    border-style: none;
    padding: 8px;
    font-weight: 700;
}

.green__box:hover {
    background-color: hsl(180, 29%, 50%);
    color: white;
}

.photosnap {
    color: #5ba4a4;
    font-weight: 700;
}

.box__1 {
    border-left: 4px solid hsl(180, 29%, 50%);
    position: relative;
}

.box__1-1 {
    display: flex;
    margin-left: 16px;
    padding-top: 45px;
}

.box__1-2 {
    display: flex;
    color: darkgrey;
    margin-left: 10px;
    padding-top: 10px; 
}

.box__1-2 p {
    margin-left: 5px;
}

.box__1-3 {
    position: absolute;
    margin-left: 16px;
    top: 160px;
}

.box__1-4 {
    position: absolute;
    margin-left: 16px;
    top: 200px;
}

.manage {
    color: #5ba4a4;
    font-weight: 700;
}

.account {
    color: #5ba4a4;
    font-weight: 700;
}

.box__2 {
    border-left: 4px solid hsl(180, 29%, 50%);
    position: relative;
}

.box__3-3 {
    position: absolute;
    margin-left: 16px;
    margin-top: 15px;
}

.box__3-4 {
    position: absolute;
    margin-left: 16px;
    margin-top: 55px;
}

#photosnap {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
    left: 10px;
}

#manage {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
    left: 10px;
}

#account {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 815px;
    left: 35px;
}

#new {
    background-color: hsl(180, 29%, 50%);
    color: white;
    font-weight: 700;
    border-style: none;
    padding: 4px;
    margin-left: 25px;
    border-radius: 10px;
}

#featured {
    background-color: black;
    color: white;
    font-weight: 700;
    border-style: none;
    padding: 4px;
    margin-left: 5px;
    border-radius: 10px;
}