
* {
    box-sizing: border-box;
}

html {
    width: 375px;
    height: 3200px;
    background-color: hsl(180, 52%, 96%);
}

header {
    width: 375px;
    height: 150px;
    background-color: hsl(180, 29%, 50%);
}

.header-image {
    width: 100%;
}
