
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 375px;
    height: 3200px;
    background-color: hsl(180, 52%, 96%);
}

header {
    width: 375px;
    height: 150px;
    background-color: hsl(180, 29%, 50%);
}

h4 {
    margin-top: 10px;
    margin-left: 16px;
}

button {
    outline: none;
    cursor: pointer;
}

hr {
    width: 275px;
    margin-left: 16px;
    margin-top: 15px;
}

.header-image {
    width: 100%;
}

.search-container {
    width: 100%;
    display: none;
    background-color: #ffffff;
    box-shadow: 0 10px 25px 3px hsla(180, 29%, 50%, 0.3)
    border-radius: 6px;
    padding: 25px;
    font-size: 0.9em;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    gap: 20px;
}

.clear {
    color: var(--DarkGrayishCyan);
    font-weight: 700;
    cursor: pointer;
}

.clear:hover {
    color: var(--DesaturatedDarkCyan);
    text-decoration: underline;
}

.remove {
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    background-color: var(--DesaturatedDarkCyan);
    background-image: url(images/icon-remove.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.remove:hover {
    background-color: black;
}

.box {
    width: 330px;
    height: 265px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    border-radius: 4px;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

.green__box {
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    border-style: none;
    padding: 8px;
    font-weight: 700;
}

.green__box:hover {
    background-color: hsl(180, 29%, 50%);
    color: white;
    transform: scale(1.1);
}

.photosnap {
    color: #5ba4a4;
    font-weight: 700;
}

.box__1 {
    border-left: 4px solid hsl(180, 29%, 50%);
    position: relative;
}

.box__1-1 {
    display: flex;
    margin-left: 16px;
    padding-top: 45px;
}

.box__1-2 {
    display: flex;
    color: darkgrey;
    margin-left: 10px;
    padding-top: 10px; 
}

.box__1-2 p {
    margin-left: 5px;
}

.box__1-3 {
    position: absolute;
    margin-left: 16px;
    top: 160px;
}

.box__1-4 {
    position: absolute;
    margin-left: 16px;
    top: 200px;
}

.manage {
    color: #5ba4a4;
    font-weight: 700;
}

.account {
    color: #5ba4a4;
    font-weight: 700;
}

.box__2 {
    border-left: 4px solid hsl(180, 29%, 50%);
    position: relative;
}

.box__3-3 {
    position: absolute;
    margin-left: 16px;
    margin-top: 15px;
}

.box__3-4 {
    position: absolute;
    margin-left: 16px;
    margin-top: 55px;
}

#photosnap {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
    left: 10px;
}

#manage {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
    left: 10px;
}

#account {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 815px;
    left: 35px;
}

#new {
    background-color: hsl(180, 29%, 50%);
    color: white;
    font-weight: 700;
    border-style: none;
    padding: 4px;
    margin-left: 25px;
    border-radius: 10px;
}

#featured {
    background-color: black;
    color: white;
    font-weight: 700;
    border-style: none;
    padding: 4px;
    margin-left: 5px;
    border-radius: 10px;
}